<!DOCTYPE html>
<html>

<head>
<style>
h1{
font-size: 100px;
text-align: center;
}
</style>
</head>

<body>
<h1>Welcome</h1>
 <center><nav>
<a href="/information"><button>Information</button></a>
<a href="/index"><button>Information</button></a>
<a href="/index"><button>Information</button></a>
</nav></center>
</body>

</html>